/* src/components/SearchBar/SearchBar.css */

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: sticky;
    top: 0;
}

.search-bar-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    color: #333;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: white;
}

.search-bar-button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar-button:hover {
    scale: 1.1;
}
